body{
    background: rgb(153, 26, 153);
    color: black;
    margin:0px;
    font-family: "Montserrat", sans-serif;
}
header{
    border-bottom: solid 2px white;
    font-size: 50px;
    padding: 40px;
}
section{
    display: flex;
    background-color: rgb(211, 176, 243);
    padding-top: 80px;
    padding-bottom: 80px;
    justify-content: center;
}

.título-video{
    margin-right: 5%;
}
img{
    height:200px;
}
fila-videos{
    display:flex;
    overflow-x:auto;
    gap: 20px
}
fila{
  padding-left: 30px;  
  padding-right: 30px;
}
fila-videos img{
    opacity: 0,5;
    height:200;
}
fila-videos img:hover{
    opacity:1,0;
}
